<mat-toolbar>
  <span class="cursor-pointer">
    <img
      src="../../assets/formsDunia.png"
      alt="formsDunia Logo"
      class="logo-image"
      routerLink="/"
      routerLinkActive="active"
    />
  </span>
  <span class="example-spacer"></span>
  <a mat-button routerLink="/explore-schools" routerLinkActive="active">
    Explore Schools
  </a>
  <a mat-button routerLink="/details" routerLinkActive="active"> Details </a>
  <a mat-button routerLink="/applications" routerLinkActive="active">
    Applications
  </a>
  <a mat-raised-button color="primary" routerLink="/sign-in" routerLinkActive="active">
    Sign In
  </a>
</mat-toolbar>
